@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');
* {
    margin: 0;
    background-color: #181818 ;
    font-family: 'Jost', sans-serif;
}

body{
    background-color: #181818;
}

.tableColor{
    background-color: transparent;
}

.btn-style{
    border-color: #9d2053;

}

.btn-style:hover{
    outline: 2px solid #9d2053;
    background-color: #9d2053;
}

.puntero {
    cursor: pointer;
}

.myModal{
    background-color: #7a1e48;
}

.listaCanciones{
    text-align: center;
    border: 2px solid #7a1e48;
    border-radius: 1rem;
    background-color: #7a1e48;
}

.logo{
    height: 60px;
    width: 60px;
}
