@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');

* {
    font-family: 'Jost', sans-serif;
}
/* nav{
  background-color: black;
} */

body{
    background-color:#181818;
}

.detalleslog2
{
    background-color:black;
    color: white;
}

.detalleslog3{
background-color: black;
}


.ov-btn-grow-skew {
    background: #fff; 
    color: #4741d7; 
    border: 2px solid #4741d7; 
    padding: 16px 20px;
    border-radius: 3px; 
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .ov-btn-grow-skew:hover {
    color: #fff;
  }
  .ov-btn-grow-skew::after {
    content: "";
    background: black; 
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
  }
  .ov-btn-grow-skew:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
  }

  .imgpro{
    height: 100px;
    
  }

  .logo{
    height: 60px;
    width: 60px;
}