body{
    background-color: #111625;
}

.detallesLog{
   
    padding: 10px;
    border-bottom: 0px;
    
    
    
}



   

.detalleslog2
{
    background-color:#7a1e48;
    color: white;
    font-family: 'Kanit', sans-serif;
}