body{
    background-color: #111625;
    background-image:url('https://es.123rf.com/profile_virtosmedia');
}

.detallesLog{
   
    padding: 10px;
    border-bottom: 0px;
    }



   

.detalleslog2
{
    background-color:#7a1e48;
    color: white;
    font-family: 'Kanit', sans-serif;
}