.open-modal{
    text-decoration: none;
    background-color: black;
    color: white;
    border: 1px solid;
    border-radius: 600px;
    
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    opacity: 0;
    pointer-events: none;
    

}

.modal-show{
    opacity: 1;
    pointer-events: unset;

}

.modal-container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    color: white;
    background-image: linear-gradient(black,rgba(143, 14, 14, 0.473));
}

.artista-img{
    border-radius: 100%;
    box-shadow: ;
    display: flex;
    justify-content: center

}
.imagen{
  
    width: 90%;
    max-width: 300px;
    border-radius: 100%;
    

}

.modal-close{
    text-decoration: none;
    color: white;
    background-color: orange;

    padding: 1em 3em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;

}

