.img {
    height: 400px;
    display: flex;
    width: 400px;
    margin-left: 500px;
    margin-top: 200px;
    image-orientation: center;
    float: left;
    
}

body{
    background-color: black;
}

.titulo{
    text-align: center;
}
style{
    float: left;
}